*.bgn
*.bit
*.bld
*.cmd
*.cmd_log
*.drc
*.exe
*.gise
*.ipf
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.tcl
*.twr
*.twx
*.unroutes
*.ut
*.wdb
*.wcfg
*.xdl
*.xmsgs
*.xpi
*.xrpt
*.xsl
*.xst
*.xwbt
*_envsettings.html
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.*
*_usage.*
*_xst.*
_*
usage_statistics_webtalk.html
webtalk_impact.xml
webtalk_pn.xml
xilinxsim.ini

/iseconfig
/xst
/xlnx_auto*
/planAhead_*
/isim

/in.dat
/out.dat
/core
