*.bgn
*.bit
*.bld
*.cmd
*.cmd_log
*.drc
*.gise
*.ipf
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xrpt
*.xsl
*.xst
*.xwbt
*.xwbt
*_envsettings.html
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.*
*_usage.*
*_xst.*
_*
usage_statistics_webtalk.html
webtalk.log
webtalk_impact.xml
webtalk_pn.xml

/iseconfig
/xst
/xlnx_auto*
